
/* GLOBAL ELEMENTS */

* {
	margin:0;
	padding:0;
}

html {
	background-image:url(images/jpg/bg-texture.jpg);
}

body {
	width:960px;
	font:16px /1.5 regular "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0 auto;
	background:#999;
}

/* HEADER and NAVIGATION */

header {
	height:100px;
	background:#999;
	margin: 0 auto;
	position:relative;
	border-bottom:1px solid #17516C;
}

header img {
	float:left;
	margin:5px 0px 0px 15px;
}

nav { 
	position:absolute;
	bottom:0px;
	right:20px;
}

nav ul {
	width:600px;
	margin:0 auto;
	list-style-type:none;
	padding:0;
	overflow:hidden;
}

nav ul li {
	width: 150px;
	float: left;
}

nav a {
	height: 40px;
	text-decoration: none;
	text-align: center;
	font-weight:bold;
	color: #17516C;
	line-height: 40px;
	display: block;
	border-bottom: 4px solid #999;	
}

nav a:hover {
	color:#fff;
	background:#17516C;
	border-bottom:4px solid #F90;
}

/* MAIN CONTENT ELEMENTS */

h1, h3 {
	font-family: 'Fontdiner Swanky', cursive;
	color:#17516C;
	padding-bottom:10px;
}

section {
	background:#ddd;
	margin:20px;
	padding:10px 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.p2 {
	padding-top:10px;
}

#choose-disc-content {
	margin:20px 0px 20px 20px;
}

aside {
	width:30%;
	font-size:12px;
	background:#ddd;
	padding:10px 15px;
	float:right;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

aside ol {
	padding-top:15px;
}

/* PHOTO GALLERY */

#gallery {
	margin:40px 0px;
}

#gallery ul {
	width:950px;
	background:#000;
	list-style-type:none;
	overflow:hidden;
	margin:0 auto;
	padding-left:10px;
}

#gallery li {
	width: 215px;
	height:159px;
	display:block;
	float: left;
	padding:10px;
}

#gallery img {
	border:2px solid #17516C;
}

/* FOOTER */

footer {
	clear:both;
}